<html>

    <title>Wifi Extractor</title>

    <body>

        <h1>Ecco cosa ho estratto dal Computer</h1>
        <p>INFORMAZIONI DI "{{  hostname  }}"</p><br>
        <p>•Hostname:  {{  hostname  }}</p>
        <p>•Indirizzo MAC: {{  macad  }}</p>
        <p>•Indirizzo IP: {{  IPAddr  }}</p>
        <p>•Reti estratte: {{  web  }}</p>


    <form action="/whriteFile.html">
        <button type="submit">Crea File</button>
    </form>

    <form action="/">
        <button type="submit">Torna alla Home</button>
    </form>

    </body>



</html>